/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-2[0].rules[0].use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-2[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-2[0].rules[0].use[3]!./node_modules/vue-loader/lib/index.js??vue-loader-options!./assets/js/components/App.vue?vue&type=style&index=0&lang=css& ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.woocommerce-layout__header {
  z-index: 999 !important;
}
.v--modal {
  text-align: right;
  left: 0px !important;
  margin: 0 auto;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-2[0].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-2[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-2[0].rules[0].use[3]!./node_modules/vue-toast-notification/dist/theme-sugar.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.v-toast--fade-out {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.v-toast--fade-in-down {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.v-toast--fade-in-up {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }

.fade-enter-active, .fade-leave-active {
  transition: opacity 150ms ease-out; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.v-toast {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  overflow: hidden;
  z-index: 1052;
  pointer-events: none; }

.v-toast__item {
  display: inline-flex;
  align-items: center;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
  margin: .5em 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: .25em;
  pointer-events: auto;
  opacity: .92;
  color: #fff;
  min-height: 3em;
  cursor: pointer; }

.v-toast__item--success {
  background-color: #47d78a; }

.v-toast__item--info {
  background-color: #1c85d5; }

.v-toast__item--warning {
  background-color: #febc22; }

.v-toast__item--error {
  background-color: #f7471c; }

.v-toast__item--default {
  background-color: #343a40; }

.v-toast__item.v-toast__item--top, .v-toast__item.v-toast__item--bottom {
  align-self: center; }

.v-toast__item.v-toast__item--top-right, .v-toast__item.v-toast__item--bottom-right {
  align-self: flex-end; }

.v-toast__item.v-toast__item--top-left, .v-toast__item.v-toast__item--bottom-left {
  align-self: flex-start; }

.v-toast__text {
  margin: 0;
  padding: .5em 1em;
  word-break: break-word; }

.v-toast__icon {
  display: none; }

.v-toast.v-toast--top {
  flex-direction: column; }

.v-toast.v-toast--bottom {
  flex-direction: column-reverse; }

.v-toast.v-toast--custom-parent {
  position: absolute; }

@media screen and (max-width: 768px) {
  .v-toast {
    padding: 0;
    position: fixed !important; } }

.v-toast__item {
  opacity: 1;
  min-height: 4em; }

.v-toast__item .v-toast__text {
  padding: 1.5em 1em; }

.v-toast__item .v-toast__icon {
  display: block;
  width: 27px;
  min-width: 27px;
  height: 27px;
  margin-left: 1em;
  background: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 45.999 45.999%27%3e %3cpath fill=%27%23fff%27 d=%27M39.264 6.736c-8.982-8.981-23.545-8.982-32.528 0-8.982 8.982-8.981 23.545 0 32.528 8.982 8.98 23.545 8.981 32.528 0 8.981-8.983 8.98-23.545 0-32.528zM25.999 33a3 3 0 11-6 0V21a3 3 0 116 0v12zm-3.053-17.128c-1.728 0-2.88-1.224-2.844-2.735-.036-1.584 1.116-2.771 2.879-2.771 1.764 0 2.88 1.188 2.917 2.771-.001 1.511-1.152 2.735-2.952 2.735z%27/%3e %3c/svg%3e") no-repeat; }

.v-toast__item.v-toast__item--success .v-toast__icon {
  background: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 52 52%27%3e %3cpath fill=%27%23fff%27 d=%27M26 0C11.664 0 0 11.663 0 26s11.664 26 26 26 26-11.663 26-26S40.336 0 26 0zm14.495 17.329l-16 18a1.997 1.997 0 01-2.745.233l-10-8a2 2 0 012.499-3.124l8.517 6.813L37.505 14.67a2.001 2.001 0 012.99 2.659z%27/%3e %3c/svg%3e") no-repeat; }

.v-toast__item.v-toast__item--error .v-toast__icon {
  background: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 51.976 51.976%27%3e %3cpath fill=%27%23fff%27 d=%27M44.373 7.603c-10.137-10.137-26.632-10.138-36.77 0-10.138 10.138-10.137 26.632 0 36.77s26.632 10.138 36.77 0c10.137-10.138 10.137-26.633 0-36.77zm-8.132 28.638a2 2 0 01-2.828 0l-7.425-7.425-7.778 7.778a2 2 0 11-2.828-2.828l7.778-7.778-7.425-7.425a2 2 0 112.828-2.828l7.425 7.425 7.071-7.071a2 2 0 112.828 2.828l-7.071 7.071 7.425 7.425a2 2 0 010 2.828z%27/%3e %3c/svg%3e") no-repeat; }

.v-toast__item.v-toast__item--warning .v-toast__icon {
  background: url("data:image/svg+xml,%3csvg viewBox=%270 0 52 52%27 xmlns=%27http://www.w3.org/2000/svg%27%3e %3cpath fill=%27%23fff%27 d=%27M49.466 41.26L29.216 6.85c-.69-1.16-1.89-1.85-3.22-1.85-1.32 0-2.53.69-3.21 1.85L2.536 41.26c-.71 1.2-.72 2.64-.03 3.85.68 1.18 1.89 1.89 3.24 1.89h40.51c1.35 0 2.56-.71 3.23-1.89.7-1.21.69-2.65-.02-3.85zm-25.53-21.405h3.381v3.187l-.724 8.92H24.66l-.725-8.92v-3.187zm2.97 17.344a1.712 1.712 0 01-1.267.543c-.491 0-.914-.181-1.268-.543a1.788 1.788 0 01-.531-1.297c0-.502.176-.935.53-1.297a1.712 1.712 0 011.269-.544c.49 0 .914.181 1.268.544s.53.795.53 1.297c0 .503-.176.934-.53 1.297z%27/%3e %3c/svg%3e") no-repeat; }

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-2[0].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-2[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-2[0].rules[0].use[3]!./assets/scss/app.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.xturbo-modal-dialog {
  max-width: 600px; }

.xturbo-modal-header {
  border-bottom: 1px solid #E2E2E2;
  background: #FBFBFB;
  padding: 10px 20px; }
  .xturbo-modal-header img {
    opacity: 1;
    filter: none;
    transition: all 0.3s ease-in-out; }
  .xturbo-modal-header .modal-header-left {
    display: flex;
    align-items: center; }

.xturbo-modal-body {
  position: relative;
  padding: 20px;
  background: #fff; }

.xturbo-modal-footer {
  border-top: 1px solid #E2E2E2;
  background: #FBFBFB;
  padding: 10px 20px; }

.xturbo-modal-form-row {
  /* display: flex; */
  margin-bottom: 10px; }
  .xturbo-modal-form-row .xturbo-modalegration-updater {
    display: inline-flex;
    margin-left: 5px; }
  .xturbo-modal-form-row .xturbo-modal-field-label {
    margin-bottom: 7px;
    display: inline-flex; }
  .xturbo-modal-form-row .xturbo-modal-field {
    position: relative; }
    .xturbo-modal-form-row .xturbo-modal-field input:not([type='checkbox']), .xturbo-modal-form-row .xturbo-modal-field select, .xturbo-modal-form-row .xturbo-modal-field textarea {
      padding: 7px 12px;
      border-radius: 3px;
      max-width: 100%;
      width: 100%; }
  .xturbo-modal-form-row .xturbo-modal-field-label label {
    font-weight: 600;
    display: block;
    margin-top: 6px; }

.xturbo-modal-body table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%; }
  .xturbo-modal-body table thead tr {
    background-color: #e6e6e6;
    color: #555;
    text-align: center; }
  .xturbo-modal-body table th, .xturbo-modal-body table td {
    padding: 12px 15px; }
  .xturbo-modal-body table tbody tr {
    border-bottom: 1px solid #dddddd; }
  .xturbo-modal-body table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; }

.xturbo-panel {
  border: 1px solid #E2E2E2;
  margin-bottom: 20px; }
  .xturbo-panel .xturbo-panel-body {
    position: relative;
    background: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0; }
  .xturbo-panel .xturbo-panel-footer {
    border-radius: 0 0 4px 4px;
    background: #FBFBFB;
    border-top: 1px solid #E2E2E2;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

